
<div>
    Ingresa el número que quieras calcular: <br>
    Numero: <input type="text" [(ngModel)]="ntabla" name="ntabla"><br>
    <button type="button" (click)="ttabla()">Calcular</button>

    <h1>{{totaltabla}}</h1>
</div>

<!--
<div>
    Ingresa el número que quieras calcular: <br>
    Numero: <input type="text" [(ngModel)]="ntabla" name="ntabla"><br>
    <button type="button" (click)="ttabla()">Calcular</button>
    <span *ngFor="let item of ttabla">
    <h2>{{totaltabla}}</h2>
    </span>
-->